

/*Header for Index page*/
#header1{
	border-bottom: solid;
	border-width: 2px;
	border-color: #cccccc;
	background-color:#ffffff;
	width: 960px;
}

#header1 h1, #header1 p{
	display: inline-block;
	overflow: auto;


}

#headerP {
	color: #20afa7;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#headerP2 {
	color: #20afa7;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	margin-left: 35px;
}

#header1 h1{
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	width: 225px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 25px;
	margin-left: 60px;
	margin-right: 220px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	float: left;
	
}

#header1 p{
	background-color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	color: #teal;
	width: 250px;
	padding-left: 100px;
	padding-top: 10px;
	padding-bottom: 6px;
	padding-right: 0px;
	margin-top: 26px;
	}

#header1 a{
	text-decoration: none;
	color: #20afa7;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}	
/*Header for Index end*/


/*Header for Portfolio start*/
#header2{
	border-bottom: solid;
	border-width: 2px;
	border-color: #cccccc;
	background-color:#ffffff;
	width: 960px;
}

#header2 h1, #header2 p{
	display: inline-block;
	overflow: auto;


}

#headerP {
	color: #20afa7;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#headerP {
	color: #20afa7;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	margin-left: 35px;
}

#header2 h1{
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	width: 225px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 25px;
	margin-left: 60px;
	margin-right: 220px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	float: left;
	
}

#header2 p{
	background-color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	color: #teal;
	width: 250px;
	padding-left: 100px;
	padding-top: 10px;
	padding-bottom: 6px;
	padding-right: 0px;
	margin-top: 26px;
	}

#header2 a{
	text-decoration: none;
	color: #20afa7;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}	
/*Header for Portfolio end*/

#bodybackground {
	position: relative;
	background-image: url("../images/cork-wallet.png ");
	padding-bottom: 50px;

}

.paragraph{
	float: left;
	clear: both;
	padding: 10px 20px 20px 20px;
	margin: 10px 20px 20px 60px;
	background-color: #ffffff;
	width: 500px;
	overflow: auto;
	border-style: solid;
	border-width: 2px;
	border-color: #cccccc
	}

#selfie{
	float: left;
	margin: 10px;
}

#AboutMe{
	color: #08afa7;
	padding-top: 10px;
	padding-bottom: 25px;
	border-bottom: solid;
	border-bottom-width: 3px;
	border-color: lightgrey;
	
}

#justText{

	color: #777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: left;
	font-size: 110%;
	font-kerning: auto;
	line-height: 26px;
}

/*Connect section on Index page start*/
#connect{
	float: left;
	width: 270px;
	padding: 10px 20px 30px 20px;
	margin-right: 10px;
	margin-top: 11px;
	background-color: #ffffff;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: #cccccc	
}
/*Connect section on Index page end*/

/*Connect section on Portfolio page start*/
#connect2{
	float: left;
	width: 270px;
	padding: 10px 20px 30px 20px;
	margin-right: 10px;
	margin-top: 11px;
	background-color: #ffffff;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: #cccccc	
}
/*Connect section on Portfolio page end*/

#div1{

	position: relative;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: #cccccc;
	margin: 20px 20px 20px 20px;
	display: block;

}

#div1 h3{
	position: absolute;
	bottom: 00px;
	text-align: right;
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 10px 35px 10px 40px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
}

#div1pic{
	display: block;
}

#div2{

	position: relative;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: #cccccc;
	margin: 20px 20px 20px 20px;
}

#div2 h3{
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 10px 53px 10px 63.5px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
}

#div2pic{
	display: block;
}

#div3{

	position: relative;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: #cccccc;
	margin: 20px 20px 20px 20px;
}

#div3 h3{
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 10px 45px 10px 60px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
}

#div3pic{
	display: block;
}

#div4{

	position: relative;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: #cccccc;
	margin: 20px 20px 20px 20px;
}

#div4 h3{
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 10px 19.5px 10px 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
}

#div4pic{
	display: block;
}

#div5{

	position: relative;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: #cccccc;
	margin: 20px 20px 20px 20px;

}

#div5 h3{
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 10px 20.5px 10px 23.5px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
}

#div5pic{
	display: block;
}

.mainDiv{

	float: left ;
	clear: both;
	padding: 8px 15px 18px 40px;
	margin: 8px 18px 20px 60px;
	background-color: #ffffff;
	width: 500px;
	border-style: solid;
	border-width: 2px;
	border-color: #cccccc
	
}

#contact{
	color: #08afa7;
	padding-top: 10px;
	padding-bottom: 25px;
	border-bottom: solid;
	border-bottom-width: 3px;
	border-color: lightgrey;
}

#fname{
	width:100%;
	padding: 12px 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	float: left;
}

#email{
	width:100%;
	padding: 12px 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	float: left;
}

#message{
	width: 100%;
	height: 200px;
	padding: 115px 10px;
	margin: 2px 40px 20px 0px;
	box-sizing: border-box;
	float: left;
}

input[type=submit] {
    width: 20%;
    background-color: #4aaaa5;
    color: white;
    padding: 10px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea{
	width: 100%;
	margin-bottom: 10px;
	box-sizing: border-box;
	border-color: lightgrey;
}

label{
	color: #20afa7;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
}

input{
	color: #20afa7;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
}

h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #08afa7;
	padding-bottom: 15px;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-color: lightgrey;
}

#indexFooter{
	position: relative;
	clear: both;
	bottom: 0px;
	width: 960px;
	text-align: center;
	border-top: solid;
	border-top-width: 5px;
	border-top-color: #4aaaa5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #666666;
	padding: 15px;
	color: #cccccc;
	font-size: 65%;
}

#portfolioFooter{
	position: relative;
	clear: both;
	bottom: 0px;
	width: 960px;
	text-align: center;
	border-top: solid;
	border-top-width: 5px;
	border-top-color: #4aaaa5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #666666;
	padding: 15px;
	color: #cccccc;
	font-size: 65%;
}

@media screen and (max-width: 980px) {

  .wrapper{ width: 980px;}

  #connect{ width: 225px; margin-left: 0px; margin-bottom: 20px;}

  .paragraph{ width: 400px;}

  .mainDiv{width: 250px; padding-left: 10px; padding-right: 0px;}

  #selfie{ height:325px; width: 375px;}

  #header1 h1{ margin-right: 100px;}

  #header2 h1{margin-right: 0px;}

  #header2 p{padding-left: 0px;}

  footer{width: 400px;}


}

@media screen and (max-width: 768px) {

  .wrapper{width: 768px;}

  #connect{ width: 80%; float: left;}

  #connect2{ width: 80%; float: left;}

  .paragraph{ width: 80%;}

  #connect{ margin-left: 60px; margin-bottom: 20px; text-align: left;}

  #connect2{ margin-left: 60px; margin-bottom: 20px; text-align: left;}

  .mainDiv{width: 85.5%; padding-left: 0px; padding-right: 0px;}

  #selfie{ height:200px; width: 200px;}

  #header1 h1{ margin-right: 50px;}

  #indexFooter{width: 768px;}

  #portfolioFooter{width: 768px;}


}

@media screen and (max-width: 640px) {


  #connect{ width: 58%; float: left;}

  .paragraph{ width: 58%;}

  #connect{ margin-left: 60px; margin-bottom: 20px;}

  #connect2{width: 300px; margin-left: 58px; margin-bottom: 20px;}

  .mainDiv{width: 300px; padding-left: 20px; padding-right: 20px;}


  /*Pictures in Portfolio section*/
  #div1 img{height: 200px; width: 250px;}

  #div1 h3{padding: 10px 59px 10px 66px;}

  #div2 img{height: 200px; width: 250px;}

  #div2 h3{padding: 10px 79px 10px 87.5px;}

  #div3 img{height: 200px; width: 250px;}

  #div3 h3{padding: 10px 72px 10px 83px;}

  #div4 img{height: 200px; width: 250px;}

  #div4 h3{padding: 10px 48px 10px 45.5px;}

  #div5 img{height: 200px; width: 250px;}

  #div5 h3{padding: 10px 44px 10px 50px;}
  /*Pictures in Portfolio section ends*/


  #selfie{ height:320px; width: 375px; float: top; clear: both; padding: 10px 30px 20px 30px ;}

  #indexFooter{ width: 640px;}

  #portfolioFooter{width: 500px;}

  #header1{ position: static; width: 640px;}

  #header1 h1{ margin-right: 0px;}

  #header1 p{padding-left: 10px;}

  #headerP2 {margin-left: 10px;}

}
/*Pictures in Portfolio section end*/

